<!DOCTYPE html> 
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">

        <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="../stylesheets/pygment_trac.css" media="screen">
        <link rel="stylesheet" type="text/css" href="../stylesheets/print.css" media="print">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="../javascripts/main.js"></script>


        <title>Atelier Couchbase by Xebia France</title>
    </head>

    <body>

        <header>
            <div class="container">
                <h1>Atelier Couchbase</h1>
            </div>
        </header>


        <div class="container">
            <section id="main_content">
                <h2>Welcome</h2>
                <p>
                Bienvenue dans cet atelier et voici votre mission si vous l'acceptez.
                </p>

                <p>
                Vous êtes développeur pour Publicotaurus, une entreprise de publicité qui grossit et qui a plutôt la cote.
                </p>

                <p>
                Robert, votre chef vient de vous parler de ce nouveau projet. Une idée très porteuse ! Une application dont le développement avance bien, par ailleurs. Mais pas évident d'être au point niveau perf'. Pas évident de respecter les attentes avec ce bon vieil Oracle. Sans parler de l'administration... C'est pourquoi Robert est venu vous voir. 
                </p>

                <h2>L'application</h2>
                <p>
                Vous êtes chargé de mettre en place un POC démontrant l'efficacité de Couchbase. Robert  a mis à votre disposition <a href="https://github.com/xebia-france/atelier-couchbase">la beta de l'application</a> que vous vous empressez de récupérer sur votre poste, dans le workspace de votre choix. Puis vous buildez l'application avec maven, comme à votre habitude. Cela vous permet aussi de télécharger toutes les dépendances car comme vous le savez, la connexion wifi de votre entreprise n'est pas glorieuse...
                <h4>Votre mission :</h4>
                <ul>
                    <li>Clonez le repo git</li>
                    <li>Lancez une compilation avec maven (pour résoudre les dépendances)</li>
                </ul>
                <div class="solution">
{% highlight bash %}
$ git clone https://github.com/xebia-france/atelier-couchbase.git
$ cd atelier-couchbase
$ mvn clean compile
{% endhighlight %}
                </div>
                <p>
                Vous pouvez passer au paragraphe suivant pendant le téléchargement des dépendances.
                </p>

                <h2>Installation de Couchbase</h2>
                <p>
                Robert a mis à votre disposition une instance Amazon EC2 medium (1 CPU Xeon E5-2670, 3.75GO RAM, Disque dur SSD 4GO) tournant sous Redhat Enterprise Linux 6.5. Vous vous connectez à la première instance, téléchargez la version <a href="http://packages.couchbase.com/releases/3.0.0/couchbase-server-enterprise-3.0.0-centos6.x86_64.rpm">3.0.0 de couchbase</a>, puis l'installez : 
                </p>
                <h4>Votre mission :</h4>
                <ul>
                    <li>Téléchargez la clé disponible dans le repo git</li>
                    <li>Connectez-vous en SSH à l'adresse {{page.group}}-couchbase-workshop.aws.xebiatechevent.info</li>
                    <li>Téléchargez et installez Couchbase Server 3.0, avec rpm -i</li>
                </ul>
                <div class="solution">
                
<h4>Pour windows : </h4>
<ul>
<li>Si vous ne l'avez pas, récupérez <a href="http://the.earth.li/~sgtatham/putty/latest/x86/putty.exe">PuTTY</a></li>
<li>Entrez l'adresse <em>{{page.group}}-couchbase-workshop.aws.xebiatechevent.info</em> à l'emplacement de l'encadré rouge ci-dessous</li>
</ul>
<img src="../images/putty_ip.png" alt="putty ip"/>
<ul>
<li>Suivez ensuite les screenshots suivants :</li>
</ul>
<img src="../images/putty_user.png" alt="putty2"/>
<img src="../images/putty_key1.png" alt="putty3"/>
<img src="../images/putty_key2.png" alt="putty4"/>
<img src="../images/putty_open_connection.png" alt="putty5"/>
<h4>Pour Linux et Mac :</h4>
{% highlight bash %}
$ chmod 600 key/couchbase-xke.pem
$ ssh -i key/couchbase-xke.pem ec2-user@{{page.group}}-couchbase-workshop.aws.xebiatechevent.info
$ wget http://packages.couchbase.com/releases/3.0.0/couchbase-server-enterprise-3.0.0-centos6.x86_64.rpm
$ sudo rpm -i couchbase-server-enterprise-3.0.0-centos6.x86_64.rpm
{% endhighlight %}
                </div>

                <h2>Démarrage et configuration</h2>
                <p>Vous pouvez maintenant démarrer couchbase-server et vous connecter à la console web depuis votre machine de développement (<a href="http://{{page.group}}-couchbase-workshop.aws.xebiatechevent.info:8091">http://{{page.group}}-couchbase-workshop.aws.xebiatechevent.info:8091</a>). Vous configurez votre serveur de la manière suivante :</p>
                <ul>
                    <li>Hostname: {{page.group}}-couchbase-workshop.aws.xebiatechevent.info</li>
                    <li>Per Server RAM Quota: 2000</li>
                </ul>
                <p>Inutile de créer les samples proposés, nous allons créer les nôtres plus tard dans cet atelier.

                <p>Vous créez le bucket "<strong>default</strong>" en changeant la configuration suivante : </p>

                <ul>
                    <li>100MO de mémoire allouée par noeud (100MO = minimum requis par couchbase pour un bucket)</li>
                    <li>Disable replicas</li>
                </ul>
                <p>Dans la page de notifications, la seule étape nécessaire est d'accepter les termes et conditions. Vous pouvez donc aussi décocher la case au début de la page.</p>

                <p>Pour la page suivante :</p>
                <ul>
                    <li>Administrator</li>
                    <li>couchbase</li>
                </ul>

                <p>Votre cluster démarre !</p>


                <h2>Exercice 1 : Votre premier document</h2>
                <p>
                Ajoutez votre premier document depuis la console web. Un document ayant pour id "hello_couchbase" et pour contenu "hello":"world".
                </p>
                <p>
                Vous vous placez maintenant dans votre IDE préféré, à la racine du projet que vous venez de télécharger, et implémentez votre premier client qui vous permettra d'accéder au document que vous venez de créer depuis l'interface. Pour vous aider dans votre tâche, vous trouverez des commentaires de la forme de "<strong>//TODO Exercice n</strong>" là où vous écrirez votre implémentation, et des "<strong>//Exercice n</strong>" au niveau des tests.
                </p>

                <p>
                La documentation dont vous aurez besoin : <a href="http://docs.couchbase.com/developer/java-2.0/hello-couchbase.html">http://docs.couchbase.com/developer/java-2.0/hello-couchbase.html</a>
                </p>
                <h4>Votre mission :</h4>
                <ul>
                    <li>Faire passer le test <strong>HelloWorldTest.should_get_hello_world_document()</strong></li>
                </ul>

                <h2>Exercice 2 : Création d'un bucket pour l'application</h2>
                <p>Pour l'instant, l'application ne possède pas de bucket dédié. Vous créez maintenant le bucket "<strong>publicotaurus</strong>".

                <h4>Votre mission :</h4>
                <ul>
                    <li>Créez un bucket "<strong>publicotaurus</strong>" avec les configurations suivantes :</li>
                    <ul>
                        <li>1500MO de mémoire allouée par noeud</li>
                        <li>Enable flush (pour permettre de vider le bucket au besoin)</li>
                    </ul>
                </ul>

                <h2>Exercice 3 : Insertion d'un profil utilisateur</h2>
                <p>L'application que vous récupérez dispose de profils utilisateur. Faites fonctionner l'insertion d'un utilisateur en vous aidant de la <a href="http://docs.couchbase.com/developer/java-2.0/java-intro.html">documentation</a></p>
                <h4>Votre mission :</h4>
                <ul>
                    <li>Faites passer le test <strong>UserRepositoryTest.should_insert_user_and_retrieve_an_user_in_database()</strong></li>
                    <li>Prenez le temps de regarder la transformation d'un User en JsonDocument dans <strong>UserRepository.userToDocument()</strong></li>
                </ul>

                <h2>Exercice 4 : Modifications concurrentes</h2>
                <h3>Exercice 4a : Verrou optimiste</h3>
                <p>Vous souhaitez maintenant pouvoir updater un profil utilisateur, en toute sécurité.
                </p>
                <h4>Votre mission :</h4>
                <ul>
                    <li>Faites passer le test <strong>UserRepositoryTest.should_update_with_an_optimistic_lock()</strong></li>
                </ul>

                <p class="solution">
                Vous pouvez utiliser la méthode <strong>Bucket.replace()</strong>                
                </p>
                <p>
                Le test que vous avez fait passer met en avant le fait que, par sécurité, couchbase ne vous autorise à remplacer un document que si vous aviez bien la dernière version de celui-ci.
                </p>
                <h3>Exercice 4b : Verrou pessimiste</h3>
                <p>Vous souhaitez cette fois carrément bloquer le document en lecture à partir du moment où vous-même le lisez.</p>
                <h4>Votre mission :</h4>
                <ul>
                    <li>Faites passer le test <strong>UserRepositoryTest.should_not_allow_read_during_edition()</strong></li>
                </ul>
                <p class="solution">
                Vous pouvez utiliser la méthode <strong>Bucket.getAndLock()</strong>                
                </p>

                <h2>Exercice 5 : Apprendre à compter</h2>
                <p>Vous souhaitez compter le nombre de fois qu'un utilisateur requête son profil. Mais cette fois, c'est une donnée qui va souvent évoluer et le verrou n'est pas la solution satisfaisante. Par chance, couchbase supporte les opérations atomiques. (un peu comme les séquences oracle ou postgre)</p>

                <h4>Votre mission :</h4>
                <p>Utilisez la méthode <strong>counter()</strong> disponible sur votre bucket.</p>
                <p>Vous pouvez rejouer le test pour incrémenter le compteur et aller observer le résultat sur la web console.</p>
                <p class="solution">
                    Regarder l'utilisation de la méthode <a href="http://docs.couchbase.com/developer/java-2.0/documents-atomic.html">Bucket.counter()</a>
                </p>

                <h2>Exercice 6 : Insertion massive</h2>
                <p>Maintenant que votre application roxx, vous souhaitez ajouter les 100 clients privilégiés qui utiliseront l'application les premiers.

                <h4>Votre mission :</h4>
                <ul>
                    <li>Lancer le test "should_insert_many_users" pour lancer l'import des utilisateurs.</li>
                </ul>

                <h2>Exercice 7 : Créez vos premières vue</h2>
                <p>Les profils utilisateurs doivent pouvoir être administrés facilement par les modérateurs. Mais il est inutile de faire remonter les profils entiers pour cela...</p>
                <p>
                Rendez vous dans la console web Couchbase et créez une vue permettant de déterminer. Faites attention de bien être sur le bucket "publicotaurus" :
                <ul> 
                    <li>le nom de famille de l'utilisateur (qui servira de clé pour la vue)</li>
                    <li>l'id de l'utilisateur (<strong>userId</strong>)</li>
                    <li>les prénoms/noms de l'utilisateur (dans <strong>userName</strong>, avec firstName et lastName spéraré par un espace)</li>
                    <li>la ville (<strong>cityName</strong>)</li>
                    <li>si ce dernier est actif ou non (<strong>active</strong>)</li>
                </ul>

                Vous appellerez votre vue <strong>user</strong>. Vous devrez tout d'abord créer une vue en mode développement afin de tester votre vue.
                <p>Pour décrire une vue, on utilise le paradigme de map/reduce. Map est la fonction telle que select en sql. Reduce est une fonction d'aggrégation, comme un count. Ces deux fonctions s'écrivent en javascript.</p>
                <p>Pour tester votre vue, vous pouvez sauvegarder votre fonction de map, puis cliquer sur "show results".</p>
                <p>Maintenant que votre vue vous paraît satisfaisante, nous allons créer deux autres vues dans le même "design document" (un "design document" est un regroupement de vues promues en mode "production" au même moment).</p>
                <p>Nos deux autres vues seront <strong>active_user</strong> et <strong>inactive_user</strong> et auront pour rôles de faire ce que leurs noms indiquent.</p>
                <p>Une fois l'édition de vos vues terminée et testée, vous pouvez "publier" votre vue.</p>

                <p class = "solution">
                <a href = "http://docs.couchbase.com/couchbase-manual-2.0/#writing-views">documentation des vues</a>
                </p>

                <h2>Exercice 8 : Modifiez un design document</h2>
                <p>Vous souhaitez maintenant ajouter une vue <strong>number_of_inactive_users</strong> pour compter le nombre d'utilisateurs inactifs. Pour cela, vous devez copier le design document en mode développement.</p>
                <p>Pour tester le résultat, vous devrez par contre re-publier votre vue avant de cliquer sur 'Show results'</p>

                <p class="solution">
                Pour cela, vous pouvez émettre un document vide dans la partie <strong>map</strong> et utiliser la fonction prédéfinie _count dans la partie <strong>reduce</strong>
                </p>

                <h2>Exercice 9 : Les vues dans l'application</h2>
                <p>A travers la console web, désactivez l'utilisateur dont l'id est <strong>user::adrian_vincent</strong></p>
                <p>Retournez dans votre code java faites passer le test de l'exercice 9. Ce test ne fait que vérifier que vous récupérez bien tous les éléments de la vue <em>inactive_user</em>.</p>

                <h4>Petites aides dont vous aurez besoin :</h4>
                <p>
                    <ul>
                        <li><a href="http://docs.couchbase.com/developer/java-2.0/querying-views.html">Par ici</a> pour la doc. Attention, il se peut que des différences mineures avec l'API que vous utiliserez se soient glissées dans la doc de couchbase qui n'est pas complètement à jour.</li>
                        <li>Dans les ViewQuery, il vous sera proposé de préciser le <strong>stale</strong> qui vous intéressera sûrement. Vous trouverez des informations sur ce point dans <a href="http://docs.couchbase.com/admin/admin/Views/views-index-updates.html">cette page</a> de la doc.</li>
                    </ul>
                </p>

                <h2>Exercice 10 : Pagination</h2>
                <p>Nos chers modérateurs souhaitent n'avoir que 10 résultats par page.</p>

                <h2>Exercice 11 : N1QL</h2>
                <p>Parmi les nouveautés chez Couchbase, il y a N1QL (prononcer "nickel").</p> 
                <p>Il vous donne la possibilité de créer des requêtes pseudo-SQL. Elles portent sur le contenu du document. Plus d'infos dans <a href="http://docs.couchbase.com/prebuilt/n1ql/n1ql-dp3/">la doc</a>. Cette <a href="http://docs.couchbase.com/files/Couchbase-N1QL-CheatSheet.pdf">cheatsheet</a> devrait aussi pouvoir faire votre affaire.</p>

                <p>
                Comme Noël approche, on a mis à votre disposition <a href="http://couchbase-n1ql.aws.xebiatechevent.info:8093/query?q=">un environnement</a> pour vous amuser un peu.
                <h4>Votre mission :</h4>
                <ul>
                    <li>Essayez quelques requêtes en entrant une query dans la barre d'adresse, derrière <strong>?q=</strong></li>
                    <li>Revenez dans votre code Java et faites passer le test de l'exercice n°11</li>
                </ul>
                </p>

                <p>Pour vous servir de l'API de requêtage, vous aurez encore une fois besoin de <a href="http://docs.couchbase.com/developer/java-2.0/querying-n1ql.html">la doc</a>.</p>

                <h2>Exercice 12 : Modération</h2>
                <p>Nos chers modérateurs souhaitent pouvoir désactiver un utilisateurs facilement depuis les vues qui leur appartiennent.
                <h2>Clustering</h2>
                <p>
                Et si on scalait maintenant ? Essayez de joindre votre noeud à celui de votre voisin pour en former un !
                </p>
                <p>
                Une fois le noeud ajouté, lancez un rebalancing et observez l'activité de vos noeuds à travers vos graphes.
                </p>
                <h2>XDCR</h2>
                <p>Idem qu'au dessus, à l'échelle suivante.</p>
                <h3>
                    <a name="authors-and-contributors" class="anchor" href="#authors-and-contributors"><span class="octicon octicon-link"></span></a>Auteurs et contributeurs</h3>

                <p>Antoine Michaud (<a href="https://github.com/antoinemichaud" class="user-mention">@AMichaud34</a>) et Jean-Eudes Couignoux (<a href="https://github.com/jean-eudes" class="user-mention">@Jeaneudes</a>)</p>
            </section>
        </div>
    </body>
</html>
